body {
  margin: 1em;
  font-size: 14px;
}

a {
  cursor: pointer;
}

#gallery li {
  display: inline-block;
  margin: 0 1em 1em 0;
  width: 150px;
  list-style-type: none;
  text-align: center;
}

#loading-bar .bar {
  height: 5px;
  background: #fff;
}

#loading-bar .peg {
  box-shadow: 1px 0 6px 1px #fff;
}

#loading-bar-spinner .spinner-icon {
  border-top-color: #fff;
  border-left-color: #fff;
}
