body {
  margin: 1em 0;
}

a {
  cursor: pointer;
}

nav {
  margin-bottom: 2em;
}

.gallery {
  padding: 0;
}

.gallery li {
  display: inline-block;
  margin: 0 1em 1em 0;
  list-style-type: none;
  text-align: center;
}

@media (max-width: 767px) {
  .gallery li {
    margin: 0;
  }
}

.gallery1 img {
  width: 75px;
  height: 75px;
}

.gallery2 img {
  width: 6em;
}

.gallery5 img {
  width: 120px;
}
